#item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.item-div {
  width: 12vw;
  height: 10vw;
  text-align: right;
}
.item-picture {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.down-arrow {
  color: white;
}

.dropdown {
  display: none;
  background-color: gray;
  color: rgb(161, 14, 14);
  bottom: 100px;
  max-height: 100px;
  max-width: 150px;
  text-align: left;
}

.down-arrow:hover + .dropdown {
  display:inherit;
  position: relative;
}