#ordering-screen {
  background-color: #0096FF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
 }
 div#buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
 }
 #tender-button {
  color: black;
  display: inline-block;
 }

 #clear-btn {
  cursor: pointer;
  display: inline-block;
 }

 .order-item {
  cursor: pointer;
  color: black;
 }

 #order-div {
  width: 100%;
  height: 100%;
  overflow: auto;
 }