#ordering-screen {
  background-color: #0096FF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
 }
 div#buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 #tender-button {
  color: black;
  background-color: gray;
  cursor: pointer;
  border-radius: 10%;
 }

 #clear-btn {
  cursor: pointer;
 }

 #bottom-btns {
  display: flex;
  gap: 20px;
 }

 .order-item {
  cursor: pointer;
  color: black;
 }

 #order-div {
  width: 100%;
  height: 100%;
  overflow: auto;
 }